.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .store-categories {
    margin-top: 30px;
  }

  .store-new-arrival {
    margin-top: 10px;
  }
}

#storeBanner {
  padding-top: 50px;
}

.carousel-inner {
  border-radius: 25px;
  overflow: hidden;
}
