.page-success {
  .row-login {
    min-height: 75vh;
  }
  .section-success {
    font-size: 18px;
    font-weight: 200;
    color: #0c0d36;
    margin-top: 0;
  }
  .btn-secondary {
    background-color: #979797;
  }
  .btn-secondary:hover {
    background-color: #0c0d36;
  }
}
